 .main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Alata;
    flex-wrap: wrap;
    background-color: rgb(198, 219, 228);
    font-family:'Poppins', sans-serif; 
    
}

.areasAtuacao-container{
    margin: 10px auto 50px auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;    
}

.imagensDescContainer{
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    background-color:beige;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.imagensDescContainer:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.imagem{
    width: 50%;
    height:100%;
   
}

.descricao{
    padding-top: 10px;
    margin:  0 20px;
    text-align: justify;
    width: 50%;
    height: 100%;    
} 

.descricaoGrande{
    font-size: 0.9rem;
}

.descricaoPequena{
    font-size: 1.1rem;
}

.cima{
    display: block;
}

.baixo{
    display: none;
}


.whatsFixed{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 10;
    top:90%;
    left:90%;
    animation: shake .3s ease-in .3s infinite alternate;
}

@keyframes shake{
    0%{
        transform: rotate(0deg) translateX(0px);
    }

    25%{
        transform: rotate(-5deg) translateX(-5px);
    }

    50%{
        transform: rotate(0deg) translateX(0px) ;
    }

    75%{
        transform:  rotate(5deg) translateX(5px);
    }

    100%{
        transform: rotate(0deg) translateX(0px) ;
    }
}



@media(max-width: 800px){  
    .imagensDescContainer{
        flex-direction: column;
        height: 100%;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 15px auto;
    }

    .imagem{
        width: 100%;
    }

    .descricao{
        width: 90%;
    }

    .imagensDescContainer:hover{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .cima{
        display: none;
    }

    .baixo{
        display: block;
    }

    
    .whatsFixed{
        width: 40px;
        height: 40px;
        top:90%;
        left:85%;
        animation: shake .4s ease-in .4s infinite alternate;
    }


}