.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif; 
    flex-wrap: wrap;
}

.servicos-container{
    margin: 20px auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos-imagem{
    width: 500px;
    height: 400px;
    margin: 0 10px;
}


.whatsFixed{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 10;
    top:90%;
    left:90%;
    animation: shake .3s ease-in .3s infinite alternate;
}

@keyframes shake{
    0%{
        transform: rotate(0deg) translateX(0px);
    }

    25%{
        transform: rotate(-5deg) translateX(-5px);
    }

    50%{
        transform: rotate(0deg) translateX(0px) ;
    }

    75%{
        transform:  rotate(5deg) translateX(5px);
    }

    100%{
        transform: rotate(0deg) translateX(0px) ;
    }
}


@media(max-width: 800px){
    .main{
        flex-wrap: nowrap;
    }

    .servicos-container{
        margin: 20px auto;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .servicos-imagem{
        width: 100%;
        height: 100%;
        padding-right: 20px;
        
    }

    
    .whatsFixed{
        width: 40px;
        height: 40px;
        top:90%;
        left:85%;
        animation: shake .4s ease-in .4s infinite alternate;
    }

  
}
